// Default
$link-color: #000;
$link-hover-color: #B8860B;
$font: Arial, sans-serif;
//FirstDiv
$fd-bg-color: #FFF;
$fd-ul-border-color: #999;
$fd-link-color: #CCC;
$fd-link-bg-color: #EEE;
$fd-link-border-color: #666;
$fd-link-hover-bg-color: #666;
$fd-link-hover-color: white;
$fd-link-text-shadow-color: #333;
$fd-h1-font: "Damion";
//SecondDiv
$sd-bg-img:url(../images/bg/creative-office.jpg);
$sd-color:#FFF;
$sd-link-color:#FFF;
$sd-link-border-color:#FFF;
$sd-link-bg-color:#000;
$sd-link-hover-bg-color:#4169E1;
$sd-link-hover-border-color:#4169E1;
$sd-h1-span-color:#FFD700;
$sd-h1-span-font: Impact, sans-serif;
//ThirdDiv
$td-bg-color:#FFD700;
$td-link-bg-color:#FFF;
$td-link-border-color: #CCC;
$td-link-hover-color:#666;
$td-link-hover-bg-color:#EEE;
//FourthDiv (Cuarto)
$cd-h1-span-font: Impact, sans-serif;
//Fifth Div  (Quinto)
$qd-bg-color:#212121;
$qd-submit-bg-color: #FFD700;
$qd-h1-span-font: Impact, sans-serif;

//LargeQuery

//FirstDiv
$l-fd-link-bg-color: #FFF;
$l-fd-link-border-color: #CCD;
$l-fd-link-hover-bg-color: #FFF;
$l-fd-link-hover-color: #B8860B;
$l-fd-first-link-color: #FFD700;
//SecondDiv
$l-sd-link-color: #FFF;
$l-sd-link-border-color: #FFF;
$l-sd-bg-color: #000;
$l-sd-link-hover-bg-color: #4169E1;
$l-sd-link-hover-border-color: #4169E1;
//ThirdDiv
$l-td-link-first-span-border-color:#FFF;
$l-td-link-hover-first-span-border-color:#999;
$l-td-link-hover-last-span-border-color:#999;
$l-td-list-span-bg-color: #FFF;